:root {
    --bg-color: #ffffff;
    --text-color: #333333;
}

[data-theme="dark"] {
    --bg-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.toggle-button {
    background: var(--text-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

.toggle-button:hover {
    opacity: 0.8;
}